/* Postavljanje globalnog stila za boje */
:root {
  --bordo: #5B2E35;
  --bebi-roze: #f5c4d4;
  --siva: #4e4e4e;
  --bela: #ffffff;
  --tamna-bordo: #9b2c2c; /* Tamnija bordo boja */
  --tamna-siva: #333333; /* Tamnija siva */
}

/* Generalni stilovi za telo stranice */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--bordo); /* Tamnija pozadina */
  margin: 0;
  padding: 0;
}

/* Pocetna stranica (HomePage) */
.home-container {
  background-color: var(--bordo);
  color: var(--siva);
  /* padding: 20px; */
}

/* Naslov aplikacije */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bordo);
}

.app-title {
  font-size: 100px;
  font-weight: bold;
  color: var(--bebi-roze); /* Bebi roze */
  text-align: center;
}

/* Sekcija sa popularnim receptima */
.popular-recipes {
  background-color: #f5c4d4;
  margin-top: 40px;
  padding: 20px;
}
.proizvodi-section{
  background-color: var(--bordo);
 
}

.section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}
.proizvodi-title{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
  color: var(--bebi-roze);
}

.recipes-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.proizvodi-list{
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 kolona */
  gap: 16px; /* Razmak između kartica */
}

.recipe-card{
  background-color: var(--bela);
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  transition: background-color 0.3s ease;
  display: flex;        
  flex-direction: column; 
  justify-content: space-between; 
  height: 300px; 
}
.proizvodi-card {
  background-color: var(--bela);
  padding: 15px;
  margin: 10px;
  margin-left: 35px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 230px;
  text-align: center;
  transition: background-color 0.3s ease;
  display: flex;        
  flex-direction: column; 
  justify-content: space-between; 
  height: 300px; 
}


/* Hover efekat na kartici */
.recipe-card:hover, .proizvodi-card:hover {
  background-color: var(--tamna-bordo); /* Tamnija bordo boja na hover */
  color: var(--bebi-roze); /* Tekst u bebi roze pri hoveru */
}

.recipe-name, .proizvodi-name {
  font-size: 1.2rem;
  margin: 10px 0;
}

.recipe-image, .proizvodi-image {
  width: 100%;        /* Slika će zauzeti širinu kartice */
  height: 150px;      /* Fiksna visina da slike budu jednake */
  object-fit: cover;  /* Održava proporcije i iseče višak da ispuni okvir */
  border-radius: 6px; /* Zaobljeni uglovi da se uklopi sa dizajnom kartice */
}

.details-button, .buy-button{
  background-color: var(--bebi-roze);
  color: var(--siva);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto; 
}

/* Postavljanje postojećih stilova za login i registraciju */
.login-container, .register-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: var(--bebi-roze);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  border: 2px solid #e1c699;
}

.login-title, .register-title {
  font-size: 24px;
  color: var(--bordo);
  margin-bottom: 10px;
}

.login-subtitle, .register-subtitle {
  font-size: 14px;
  color: var(--siva);
  margin-bottom: 20px;
}

.register-prompt, .register-prompt{
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--siva);
}

.register-link, .register-link{
  color: var(--bordo);
}
.register-link:hover{
  color: var(--siva);
}

.login-input, .register-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: var(--siva); /* Siva boja za unos */
  font-size: 16px;
}

.login-button, .register-button {
  background-color: var(--bordo);
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  max-width: 350px;
}

.login-button:hover, .register-button:hover {
  background-color: var(--bebi-roze); /* Bebi roze boja na hover */
  transform: translateY(-2px); /* Suptilni efekat podizanja */
}

/* NavBar stilizovanje */
.navbar {
  background-color: var(--bordo); /* Bordo pozadina */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--bebi-roze); /* Bebi roze boja za tekst */
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--bebi-roze); /* Bebi roze za logo */
  text-decoration: none; /* Uklanja podvlačenje */
}
.logo:hover {
  color: var(--bebi-roze); /* Drži boju ista prilikom hover-a, možeš je promeniti ako želiš */
  text-decoration: none; /* Uklanja podvlačenje pri hover-u */
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
  position: relative;
}

.nav-links a,
.dropdown-button,
.submenu-button,
.logout-button {
  text-decoration: none;
  color: var(--bebi-roze);
  font-size: 16px;
  padding: 10px;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-links a:hover,
.dropdown-button:hover,
.submenu-button:hover,
.logout-button:hover {
  background-color: var(--tamna-siva); /* Tamnija siva na hover */
  border-radius: 4px;
}

/* Dropdown stilizovanje */
.dropdown {
  position: relative;
}

.dropdown-button {
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bordo);
  top: 100%;
  left: 0;
  width: 200px;
  border-radius: 4px;
  z-index: 1000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  padding: 10px;
  font-size: 14px;
  color: var(--bebi-roze);
}

/* Responzivni dizajn */
@media (max-width: 768px) {
  .navbar, .sidebar-recipeList {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
  }

  .nav-links li {
    width: 100%;
    text-align: left;
  }

  .dropdown-content,
  .submenu-content {
    position: static;
    width: 100%;
    display: none;
  }

  .dropdown:hover .dropdown-content,
  .dropdown-submenu:hover .submenu-content {
    display: block;
  }
}
.sidebar, .sidebar-recipeList {
  position: fixed;
  top: 0;
  left: -300px; /* Skriveno van ekrana */
  width: 400px;
  height: 100%;
  background-color: var(--bebi-roze);
  color: var(--bordo);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open, .sidebar-recipeList.open{
  left: 0; /* Vidljivo */
}

.sidebar .close-btn, .sidebar-recipeList .close-btn {
  position: absolute; /* Pozicioniranje u odnosu na roditeljski element */
  top: 5px; /* Udaljenost od vrha */
  left: 350px; /* Udaljenost od desne strane */
  background: none;
  border: none;
  font-size: 24px;
  color: var(--bordo);
  cursor: pointer;
}
.back-btn, .sidebar-recipeList .back-btn{
  position: absolute; /* Pozicioniranje u odnosu na roditeljski element */
  top: 5px; /* Udaljenost od vrha */
  left: 20px; /* Udaljenost od leve strane */
  background: none;
  border: none;
  font-size: 24px;
  color: var(--bordo);
  cursor: pointer;
}

.close-btn:hover {
  color: var(--tamna-siva); /* Bordo boja na hover */
}
.sidebar ul, .sidebar-recipeList ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li, .sidebar-recipeList ul li{
  margin: 20px 0;
}

.sidebar ul li a, .sidebar-recipeList ul li a {
  text-decoration: none;
  color: var(--bordo);
  font-size: 28px;
}

.sidebar ul li a:hover, .sidebar-recipeList ul li a:hover {
  color: var(--tamna-siva);
}
.sidebar h3, .sidebar-recipeList h3 {
  color: var(--bordo);
  margin-top: 30px; /* Dodaje razmak sa vrha, čineći h3 nižim */
  font-size: 35px;  /* Povećava veličinu fonta za h3 */
}
.sidebar button, .sidebar-recipeList button{
  background: none;
  border: none;
  font-size: 28px;
  color: var(--bordo);
  cursor: pointer;
  text-align: left;
  padding: 10px 0;
  width: 100%;
}

.sidebar button:hover, .sidebar-recipeList button:hover {
  color: var(--tamna-siva); /* Bordo boja na hover */
}


/* Recept detalji stranica */
  .recipe-details-container {
  position: relative;
  background-color: var(--bebi-roze);
  color: var(--bordo);
  padding: 40px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}  
.recipe-details-container h1{
  margin-bottom : 30px;
}

/* Glavni kontejner za sliku i sadržaj */
.recipe-content-wrapper {
  display: flex;
  align-items: flex-start; /* Poravnava vrh slike i sadržaja */
  gap: 40px; /* Razmak između slike i sadržaja */
  max-width: 1200px;
  width: 100%;
}


/* Slika recepta */
.recipe-image-container {
  flex-shrink: 0; /* Da se slika ne skuplja */
  width: 40%;
  margin-right: 10px;
}

.recipe-image-details{
  margin-top: 7px;
  width: 30vw;  /* Fiksna širina */
  height: 30vw; /* Fiksna visina */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

 .recipe-content {
   flex: 1; /* Da popuni preostali prostor */
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--siva);
}

.recipe-content h3 {
  font-size: 1.6rem;
  color: var(--bordo);
  margin-top: 5px;
} 

.recipe-content ul {
  list-style-type: square;
  margin-left: 20px;
  padding: 0;
}

.recipe-content li {
  margin: 10px 0;
} 

/* Dugme za povratak */
.back-btn-details {
  position: absolute; /* Omogućava precizno pozicioniranje */
  top: 10px; /* Razmak od vrha */
  left: 10px; /* Razmak od leve ivice */
  background-color: var(--bordo);
  color: var(--bebi-roze);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  /* padding: 10px 15px; */
  transition: background-color 0.3s ease;
} 

.back-btn-details:hover {
  background-color: var(--tamna-bordo);
  color: var(--bela);
}

/* Recept - Loading / Error stanje */
.loading,
.error {
  text-align: center;
  font-size: 1.5rem;
  color: var(--siva);
}

.loading {
  margin-top: 50px;
}

.error {
  color: var(--tamna-siva);
  margin-top: 50px;
} 
/* Osnovni stilovi za modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /*Poluprovidna pozadina */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Pobrinite se da modal bude iznad drugih elemenata */
}

.modal-content {
  align-items: center;
  background-color: var(--bebi-roze);
  color: var(--bordo);
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  max-width: 90%;
}

.potvrdi-button, .otkazi-button {
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  box-sizing: border-box; /* Sprečava da padding proširi dugmad izvan modala */
  background-color: var(--bela);
}

.potvrdi-button:hover, .otkazi-button:hover {
  background-color: var(--tamna-bordo);
  color: var(--bela);
}
.input-kolicina {
  width: 80%;
  background-color: var(--bela);
  color: var (--bordo);
}
.loading-text{
  font-size: 38px;
  font-weight: bold;
  color: var(--bebi-roze); /* Ili bilo koja boja */
  text-align: center; /* Centriranje teksta */
  margin-top: 20px;
}
.korpa {
  background-color:var(--bebi-roze); /* Svetlo siva pozadina */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Blaga senka */
  max-width: 600px; /* Ograničavanje širine */
  margin: 20px auto; /* Centriranje */
  text-align: center; /* Centriranje teksta */
}

.korpa h2 {
  color: var(--bordo);
  font-size: 25px;
  margin-bottom: 15px;
}

.korpa p {
  color: var(--bela);
  font-size: 16px;
}

.korpa ul {
  list-style: none; /* Uklanja default tačkice sa liste */
  padding: 0;
}

.korpa li {
  background: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;

  display: flex; /* Postavljanje flexbox-a za raspored */
  justify-content: space-between; /* Razdvaja sadržaj između leve i desne strane */
  align-items: center; /* Vertikalno poravnavanje */
}

.korpa .remove-icon {
  cursor: pointer;
  margin-right: 10px; /* Razmak sa leve strane */
  font-size: 20px; /* Veličina ikone */
  color: var(--bordo); /* Bordo boja za ikonu kante */
  transition: color 0.3s ease;
}

.korpa .remove-icon:hover {
  color: var(--tamna-siva);
}

.korpa .proizvod-info {
  flex-grow: 1; /* Ovaj div zauzima sav prostor sa leve strane */
  text-align: left; /* Centriranje teksta unutar div-a */
  margin-left: 10px;
}

.korpa .dugme-kolicina-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.korpa li:nth-child(odd) {
  background: #f1f1f1; /* Blaga alternacija boja za čitljivost */
}

.error-korpa{
  color: var(--bebi-roze);
  padding: 10px;
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}

.dugme-kolicina {
  background-color: var(--bordo); /* Boja pozadine */
  color: white; /* Boja teksta */
  border: none;
  border-radius: 5px;
  width: 30px; /* Širina dugmeta */
  height: 30px; /* Visina dugmeta */
  margin: 0 5px; /* Razmak između dugmadi */
  font-size: 20px; /* Veličina fonta za simbol */
  cursor: pointer; /* Kursor u obliku ruke */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; /* Efekat prelaza za pozadinsku boju */
}

 .dugme-kolicina:hover {
  background-color: var(--tamno-bordo); /* Tamnija pozadina pri hover efektu */
}
.idi-na-placanje {
  background-color: var(--bebi-roze); /* Boja pozadine dugmeta */
  color:  var(--bordo); /* Boja teksta */
  border: none;
  border-radius: 5px;
  width: 100%; /* Širina dugmeta */
  padding: 10px; /* Unutrašnji razmak */
  font-size: 18px; /* Veličina fonta */
  cursor: pointer; /* Kursor u obliku ruke */
  transition: background-color 0.3s ease; /* Efekat prelaza za pozadinsku boju */
  margin-top: 10px; /* Razmak od prethodnog elementa */
  max-width: 300px;
}

.idi-na-placanje:hover {
  color: var(--tamno-bordo); /* Tamnija pozadina pri hover efektu */
}

.dugme-ispod-korpe {
  margin-top: 20px; /* Razmak između korpe i dugmeta */
  text-align: center; /* Centriranje dugmeta */
}
.idi-na-placanje h2{
  color: var(--bordo);
  font-size: 25px;
}


.checkout {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  margin-top: 150px;
}

.checkout h2 {
  text-align: center;
  margin-bottom: 20px;
}

.checkout form {
  display: flex;
  flex-direction: column;
}

.checkout label {
  margin-bottom: 5px;
}

.checkout input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.checkout button {
  padding: 10px;
  background-color: var(--bordo);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.checkout button:hover {
  background-color: var(--tamno-bordo);
}

.paginacija {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.paginacija button {
  padding: 8px 12px;
  border: none;
  background-color: var(--bebi-roze);
  color: var(--bordo);
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.paginacija button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.paginacija span {
  font-weight: bold;
  color: var(--bordo);
  padding: 5px 10px;
  background-color: var(--bebi-roze);
  border-radius: 5px;
  margin-bottom: 10px;
}
.recipes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.recipe-box {
  border: 1px solid #ddd;
  background-color: var(--bebi-roze);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 10px; /* Veći razmak između boxeva */
  box-sizing: border-box; /* Osigurava da padding ne utiče na širinu boxa */
  height: 400px;
}

.recipe-box:hover {
  transform: scale(1.05);
}

.recipe-list-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 8px;
}
.recipe-box h3{
  margin-top: 20px;
  color: var(--bordo);
}
.recipe-box p{
  color: var(--bordo);
}
.filter-icon {
  position: absolute;
  top: 60px; /* Udaljeno od vrha */
  left: 30px; /* Udaljeno od leve strane */
  cursor: pointer;
  color: var(--bebi-roze);
  z-index: 100; /* Da bude iznad drugih elemenata */
}

 